body {
  color: #ffffff;
}

a {
  color: #ff0000;
}

footer {
  background-color: rgb(52, 52, 52);
}

.navbar {
  opacity: 100%;
  backface-visibility: visible;
  background-color: rgb(52, 52, 52);
}

.navbar-brand {
  color: #ffffff !important;
}

.navbar-toggler {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.nav-link {
  color: gray !important;
}

#main {
  background-color: rgb(64, 64, 64);
}

#jumbotron {
  max-width: 1900px;
  width: 100%;
  object-fit: 50%;
  border-radius: 2em;
}

#profile-photo {
  height: 130px;
  border-radius: 2em;
}

#streaks {
  border-radius: 2em;
  width: 100%;
}

#backToTop {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 20px;
}

#backToTop:hover {
  background-color: #DDF;
  color: #000;
}

@media screen and (min-width: 991px) {
  div #navbarSupportedContent {
    color: #ff0000;
    position: absolute;
    right: 6%;
  }

  #streaks {
    width: 60%;
  }

  #profile-photo {
    height: 120px;
  }
}

@media screen and (max-width: 425px) {
  #profile-photo {
    width: 100%;
    height: 100%;
    float: clear;
    text-align: center;
  }
}
